<h1>While</h1>

<p>
  An infinitely nestable todo list.
</p>

<p>
  <a href="/auth/google_oauth2" data-no-turbolinks class="button button-primary">
    Sign up free using Google
  </a>

  <a href="/auth/google_oauth2" data-no-turbolinks class="button">
    Sign in
  </a>
</p>
