<style media="screen">
  p {
    line-height: 1.5em;
    font-weight: 300;
  }
</style>

<div class="align-center" style="margin-bottom: 25px;">
  <div style="height: 150px">
    <%= image_tag "logo.png", size: "200", class: "align-center" %>
  </div>

  <h1 style="font-weight: 600; font-size: 22px">
    Welcome to While
  </h1>
</div>

<p>
  While is a todo list for list-lovers.
</p>

<p>
  Imagine an outline.<br>
  Now, imagine a todo list.<br>
  While is both.
</p>

<p>
  Let’s say you’re traveling to Europe&hellip;
</p>

<p>
  Start with a task like “Visit Europe.”<br>
  Then break it down into tasks like “Pack” and “Buy plane tickets.”<br>
  As an individual task becomes a larger projects, you can break them down into
  smaller todos.<br>
  You can add “Camera” under “Pack” and “Batteries” under “Camera” and so on all
  the way down.
</p>

<p>
  While is infinitely nest-able todo list.
</p>

<div class="align-center">
  <a href="/auth/google_oauth2"
     class="button button-primary"
     data-no-turbolinks>
    Sign up free using Google
  </a>

  <div style="margin: .75em 0; opacity: 0.2;">
    — or —
  </div>

  <a href="/auth/google_oauth2" data-no-turbolinks class="button">
    Sign in
  </a>
</div>

<div style="background-color: rgba(0, 0, 0, 0.05); padding: .1em 1em;
            border-radius: 1em; margin-top: 25px; font-size: .9em;">
  <p>
    My name is Avand and I’m building While because I love outlines and I love
    todo lists. In high school, I typed up the most incredible outlined notes. I
    also love making lists and crossing off todos. I’ve tried out almost every
    todo list app out there but couldn’t find anything that worked quite like I
    wanted. So, since I design and build web apps for a living, I decided to
    build While to “scratch my own itch.”
  </p>

  <p>
    For me, grouping todos is just as important as the todo itself. So I decided
    to give them a 50/50 split in importance within While. A todo is, of course,
    a “check-off-able” task. But it’s also a folder for other todos. One task
    can very easily be broken into smaller ones. And you can jump around quickly
    and move stuff around as you’d expect.
  <p>

  <p>
    I designed While to be fun, fast, and free.
  </p>

  <p>
    I love todo lists and this is my favorite one.
  </p>

  <p>
    I hope you enjoy it,<br>
    — Avand
  </p>
</div>
