<style media="screen">
  .notification {
    margin-top: 20px;
  }
  p {
    line-height: 1.5em;
    font-weight: 300;
  }
</style>

<div class="align-center" style="margin-bottom: 25px;">
  <div style="height: 150px">
    <%= image_tag "logo.png", size: "200", class: "align-center" %>
  </div>

  <h1 style="font-weight: 600; font-size: 22px">
    While
  </h1>
</div>

<div class="align-center">
  <p style="font-weight: 500; font-size: 1.1em">
    The todo list for highly<br>
    organized list-lovers.
  </p>

  <a href="/auth/google_oauth2"
     class="button button-primary"
     data-no-turbolinks>
    Sign up free using Google
  </a>

  <a href="/auth/google_oauth2" data-no-turbolinks class="button">
    Log in
  </a>

  <div style="width: 300px; font-size: 0.7em; text-align: center;
              margin: 1em auto; opacity: 0.5">
    While uses your Google account so you can sign in easily without needing
    another username and password. While cannot and will not access your personal data.
  </div>
</div>

<div style="border: 1px solid rgba(0, 0, 0, 0.1); border-width: 1px 0;
            margin: 1.6em 0; padding: .2em 0;">
  <p>
    Imagine an outline. Now, imagine a todo list. While is both.
  </p>

  <p>
    Let’s say you’re traveling to Europe&hellip;
  </p>

  <p>
    Start with a big task like “Visit Europe.” Then break it down into smaller
    tasks. Add things like “Pack” and “Buy tickets.” Then add “Camera” under
    “Pack,” and “Batteries” under “Camera.” Nest items to your heart’s content.
  </p>

  <p>
    While is fun, fast, and free.
  </p>
</div>

<div style="background-color: rgba(0, 0, 0, 0.05); padding: .1em 1em;
            border-radius: 1em; margin-top: 25px; font-size: .9em;">
  <p>
    My name is Avand and I’m building While because I love outlines and I love
    todo lists. In school, my notes became the most incredibly detailed
    outlines. I love making lists and crossing off todos. I’ve tried out a lot
    of todo list apps but couldn’t find anything that worked exactly how I
    wanted. So, in an exercise of extreme obsession to detail, I decided to
    build While to “scratch my own itch.”
  </p>

  <p>
    For me, grouping todos is just as important as the todo itself. So I decided
    give them equal importance. In While, a todo is not just a “check-off-able”
    task but is also a folder for other tasks. One task can very easily be
    broken into smaller ones. And you can jump around quickly and move stuff
    around as you’d expect.
  <p>

  <p>
    I love todo lists and this is my favorite one.
  </p>

  <p>
    I hope you enjoy it too,<br>
    — Avand
  </p>
</div>
