<style media="screen">
  .notification {
    margin-top: 20px;
  }
  p {
    line-height: 1.5em;
    font-weight: 300;
  }
</style>

<div class="align-center">
  <p style="font-weight: 500; font-size: 1.1em">
    A simple yet powerful todo list.
  </p>

  <p>
    While was designed around the fundamental idea that work can
    always be broken down into smaller pieces. In While, every todo
    is a completeable item and a list for more todos. Lists are
    pure and clutter-free—infinite nesting makes them powerful.
  </p>

  <div class="splash splash-default">
    <a href="/auth/google_oauth2"
       class="button button-primary button-large"
       data-no-turbolinks>
      Get started!
    </a>

    <div style="font-size: 0.8em; margin: .8em 0;">
      Or,
      <a href="/auth/google_oauth2"
         class="underline color-dark-green"
        data-no-turbolinks>log in</a>.
    </div>
  </div>
</div>
