.button {
  display: inline-block;
  border: none;
  padding: .2em .8em;
  border-radius: .3em;
  font-weight: 500;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom-width: 2px;
  background-color: white;
  text-align: center;
  cursor: pointer;

  &:focus {
    outline: 0;
  }
}

.button-primary {
  color: white;
  background-color: $green-color;
}

.button-danger {
  color: white;
  background-color: rgb(190, 16, 53);
}

.button-link {
  text-decoration: underline;
  border-color: transparent;
  background-color: transparent;
}

.button-disabled {
  color: rgba(0, 0, 0, 0.2);
  text-decoration: none;
  cursor: not-allowed;
}

.button-small {
  font-size: 0.8em;
}

.button:active,
.hover-enabled .button:hover { text-decoration: underline; }
.button.button-link:active,
.hover-enabled .button-link:hover,
.hover-enabled .button-disabled:hover { text-decoration: none; }
