.button {
  display: inline-block;
  padding: .3em .9em;
  border: none;
  border-radius: .3em;
  font-weight: 600;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom-width: 2px;
  background-color: white;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);

  &:focus {
    outline: 0;
  }
}

.button-primary {
  color: white;
  background-color: $green-color;
}

.button-danger {
  color: white;
  background-color: $red-color;
}

.button-link {
  text-decoration: underline;
  border-color: transparent;
  background-color: transparent;
  text-shadow: none;
}

.button-disabled {
  color: rgba(0, 0, 0, 0.2);
  text-decoration: none;
  cursor: not-allowed;
}

.button-small {
  font-size: 0.85em;
  padding: .2em .8em;
}

.button-large {
  font-size: 1.2em;
  padding: .4em 1em;
}

.button:active,
.hover-enabled .button:hover { text-decoration: underline; }
.button.button-link:active,
.hover-enabled .button-link:hover,
.hover-enabled .button-disabled:hover { text-decoration: none; }
