.button {
  display: inline-block;
  border: none;
  padding: .5em 1em;
  border-radius: .3em;
  font-weight: 500;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom-width: 2px;
  background-color: white;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    outline: 0;
  }
}

.button-primary {
  color: white;
  background-color: $green-color;
}

.button-link {
  text-decoration: underline;
  border-color: transparent;
  background-color: transparent;
}

.button-link:hover {
  text-decoration: none;
}

.button-disabled {
  color: rgba(0, 0, 0, 0.2);
  text-decoration: none;
  cursor: not-allowed;

  &:hover {
    text-decoration: none;
  }
}
