@keyframes disappear {
  to {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes jump {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-.2em); }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

.pulse-while-pending {
  animation: pulse-while-pending 700ms 300ms alternate infinite;
}

@keyframes pulse-while-pending {
  from { opacity: inherit; }
  to { opacity: 0.6; }
}

.bob {
  animation: bob 1s alternate infinite;
}

@keyframes bob {
  from { transform: translateY(0); }
  from { transform: translateY(5px); }
}
