.light-weight { font-weight: 300; }
.medium-weight { font-weight: 500; }

.strikethrough { text-decoration: line-through !important; }

.underline,
.underline-on-hover:hover { text-decoration: underline; }

.underline:hover,
.underline-on-hover { text-decoration: none; }

.align-left { text-align: left !important; }
.align-right { text-align: right !important; }
.align-center { text-align: center !important; }
