<p>
  My name is Avand and I’m building While because I love outlines and I love
  todo lists. In school, my notes became the most incredibly detailed
  outlines. I love making lists and crossing off todos. I’ve tried out a lot
  of todo list apps but couldn’t find anything that worked exactly how I
  wanted. So, in an exercise of extreme obsession to detail, I decided to
  build While to “scratch my own itch.”
</p>

<p>
  For me, grouping todos is just as important as the todo itself. So I decided
  give them equal importance. In While, a todo is not just a “check-off-able”
  task but is also a folder for other tasks. One task can very easily be
  broken into smaller ones. And you can jump around quickly and move stuff
  around as you’d expect.
<p>

<p>
  I love todo lists and this is my favorite one.
</p>

<p>
  I hope you enjoy it too,<br>
  — Avand
</p>
