<p>
  Hey there!
</p>

<p>
  My name is Avand and I built While because I love lists. It’s fun to make
  lists and it’s fun to check items off a list. I’ve tried out a lot of todo
  list apps but couldn’t find anything that worked exactly how I wanted. So,
  in an exercise of extreme obsession to detail, I decided to build While to
  “scratch my own itch.”
</p>

<p>
  For me, grouping todos is just as important as the todo itself. So I decided
  give them equal importance. In While, a todo is a something you can complete
  and also a home for other tasks. Any task can be broken into smaller ones and
  you can jump around quickly and move things around really easily.
<p>

<p>
  I love todo lists and this is my favorite one.
</p>

<p>
  I hope you enjoy it too,
</p>

<p>
  Avand
</p>
