.item-children {
  font-size: 0.7em;
  list-style-type: none;
  margin: .5em 0 0;
  padding: 0;
}

.item-children li {
  position: relative;
  padding-left: 10px;
  color: rgb(128, 125, 122);

  &::before {
    content: "• ";
    color: rgba(0, 0, 0, 0.3); /* or whatever color you prefer */
    position: absolute;
    left: 0;
    top: 0;
  }
}
