<% @archived_items_by_completed_date.each do |date, items| %>
  <div class="archived-items-date-heading">
    <%= date.strftime("%A, %B %e") %>
  </div>

  <%= render partial: "archived_item", collection: items, as: :item %>
<% end %>
