<% @history.each do |date, items| %>
  <div class="completed-items-date-heading">
    <%= date.strftime("%A, %B %e") %>
  </div>

  <%= render partial: "completed_item", collection: items, as: :item %>
<% end %>
