<% @history.each do |date, items| %>
    <%= date.strftime("%A, %B %e") %>
  <div class="history-date-heading align-center">
  </div>

  <%= render partial: "item", collection: items, as: :item %>
<% end %>
