<% @history.each do |date, items| %>
  <div class="history-date-heading">
    <% if date.year == Time.now.year %>
      <%= date.strftime("%A, %B %e") %>
    <% else %>
      <%= date.strftime("%A, %B %e, %Y") %>
    <% end %>
  </div>

  <%= render partial: "item", collection: items, as: :item %>
<% end %>
