$checkbox-size: 14px;
$checkbox-padding: 6px;

.archived-item {
  overflow: auto;
  padding: 0 16px;
}

.archived-item-checkbox {
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

  .fa {
    box-sizing: content-box;
    font-size: $checkbox-size;
    height: $checkbox-size;
    width: $checkbox-size;
    line-height: $checkbox-size;
    padding: $checkbox-padding;
    display: block;
  }
}

.archived-item-content {
  display: block;
  margin-left: $checkbox-size + ($checkbox-padding * 2);
  margin-right: 5em;
  padding: $checkbox-padding 0;
}

.archived-item-name {
  display: block;
}
