$checkbox-size: 14px;
$checkbox-padding: 8px;

.completed-items {
  font-size: 0.8em;
  margin-top: 20px;
}

.completed-items-heading {
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 500;

  &::before,
  &::after, {
    position: relative;
    content: "";
    display: inline-block;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
    position: relative;
    bottom: -8px;
    width: calc(50% - 40px);
  }

  &::before { float: left; }
  &::after  { float: right; }

  &:hover {
    text-decoration: underline;
  }

  i { margin-left: 4px; }
}

.completed-items-date-heading {
  font-size: 0.9em;
  font-weight: 500;
  margin: 1.5em 0 .75em;
}

.completed-item {
  overflow: auto;
}

.completed-item-checkbox .fa {
  box-sizing: content-box;
  font-size: $checkbox-size;
  height: $checkbox-size;
  width: $checkbox-size;
  line-height: $checkbox-size;
  padding: $checkbox-padding;
  display: block;
}

.completed-item-checkbox { opacity: 0.5; }
.hover-enabled .completed-item-checkbox:hover { opacity: 1; }

.completed-item-content {
  display: block;
  margin-left: $checkbox-size + ($checkbox-padding * 2);
  padding: ($checkbox-padding - 1px) 0 ($checkbox-padding - 4px);
}

.completed-item-descendants-count {
  font-size: 0.8em;
  opacity: 0.5;
}
