.no-items-drop-target {
  height: 50px;
  margin-bottom: 5px;
}

.no-items-bootstrap {
  border: 2px dashed rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 1em 2em;
  margin-top: 1em;

  p {
    margin-top: 0;
  }
}
