.progress-bar,
.progress-bar-status {
  transition-property: width;
  transition-timing-function: linear;
  transition-duration: 200ms;
  position: relative;
}

.progress-bar {
  height: 2px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-top: .6em;
  position: relative;
}

.progress-bar-status {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}
