@import "normalize";
@import "font-awesome";
@import "sprinkles-2.0.0";
@import "variables/*";
@import "mixins/*";
@import "components/*";
@import "utilities/*";
@import "items";

* {
  box-sizing: border-box;
}

body {
  @include default-font-family();

  color: rgb(76, 72, 68);
  background-color: rgb(255, 250, 230);
  padding-bottom: 100px;
}

header {
  color: rgba(0, 0, 0, 0.6);
}

main {
  @include content-box();
}

a {
  color: inherit;
  text-decoration: none;
}

label {
  display: block;
}
