@import "normalize";
@import "font-awesome";
@import "mixins/*";
@import "components/*";
@import "utilities/*";

* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: rgb(76, 72, 68);
  background-color: rgb(255, 250, 230);
}

header {
  color: rgba(0, 0, 0, 0.6);
}

footer {
  font-size: 0.8em;
  padding: 2em;
}

main {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 4%;
}

a {
  color: inherit;
  text-decoration: none;
}

label {
  display: block;
}
