.archived-items {
  font-size: 0.8em;
}

.archived-items-heading {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 1.5em;

  span {
    position: relative;
    z-index: 1;
    padding: 0 1em;
  }

  &::after {
    content: "";
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    position: relative;
    top: -.55em;
  }
}

.archived-items-date-heading {
  font-size: 0.9em;
  font-weight: 500;
  margin: 1.4em 0 .75em;
}
