.notification {
  padding: .8em 1em;
  border-radius: .6em;
  margin-bottom: 1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-weight: 500;
}

.notification-alert {
  background-color: rgba(255, 0, 0, 0.1);
}

.notification-notice {
  background-color: rgba(0, 255, 0, 0.1);
}
